body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header{
    background-color: lightgreen;
    color: purple;
    padding: 10px;
    font-size: 16pt;
}
footer{
    background-color: lightskyblue;
    color: blue;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}
main {
    margin: 10px 20px 44px;
}
a{
    text-decoration: none;
    color: yellowgreen;
    transition: 1s 2s;
}
a:link {
    color: blueviolet;
}
a:visited {
    color: red;
}
a:hover {
    color: black;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid goldenrod;
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
    background-color: lawngreen;
    transition: 1s 2s;
}
div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
    background-color: burlywood;
    transition: 0.5s;
}