body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header{
    background-color: olivedrab;
    color: darkmagenta;
    padding: 10px;
    font-size: 16pt;
}
footer{
    background-color: mediumblue;
    color: pink;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
}